html {
  font-size: 62.5%;
}  

:root{
    --primary-color: #33cccc; 
    --white-color: #fff;
    --text-color:#333;
    --border-color :#dbdbdb;
    --black-color:#000;
    --font-small: 1rem;   /* 10px */
    --font-medium: 1.2rem; /* 12px */
    --font-large: 1.6rem;  /* 16px */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login, #form-register {
    max-width: 400px;
    background: var(--white-color);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px var(--primary-color);
}

/* Tiêu đề form */
.form-heading {
    font-size: 25px;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* Các nhóm nhập liệu */
.form-group {
    border-bottom: 1px solid var(--black-color);
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group i {
    color:var(--primary-color);
    font-size: var(--font-large);
    padding-right: 10px;
}

/* Ô nhập */
.form-input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0; 
    flex-grow: 1;
    font-size: var(--font-large);
}

.form-input::placeholder {
    color: var(--black-color);
}

/* Nút submit */
.form-submit {
    background: transparent;
    border: 1px solid var(--black-color);
    color: var(--text-color);
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;
    margin-top: 30px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

/* Liên kết dưới form */
.switch-text {
    text-align: center;
    color: var(--text-color);
    font-size: var(--font-medium);
    margin-top: 15px;
}

.switch-text a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.switch-text a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Quên mật khẩu */
.forgot-password {
    display: block;
    text-align: right;
    margin-top: -10px; 
    margin-bottom: 15px; 
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--font-medium);
    transition: 0.3s;
}

.forgot-password:hover {
    color: var(--text-color);
    text-decoration: underline;
}

/* Form quên và đặt lại mật khẩu */
#form-forgot, #form-reset {
    max-width: 400px;
    background: var(--white-color);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px var(--primary-color);
}
