.header__nav{
    height: 40px;
    background-color: var(--primary-color);
}
.home-product-item{
    display: block;
    margin-top: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px ;
    text-decoration: none ;
    position: relative;
}
.home-product-item__img{
    padding-top :100% ;
    background-repeat: no-repeat;
    background-position: top-center ;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.pay-leter{
    font-size: 1.3rem;
    color: var(--black-color);
    background-color: #e5e7eb;
    padding: 4px;
    font-weight: 600;
    border-radius: 999px;
    display: block;
    text-align: center;
    max-width: 40%;
    margin: 4px 0 0 12px;
    
}
.home-product-item__name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 12px;

}

.home-product-item__price{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    margin-top:-8px;
}

.home-product-item__price-old{
    font-size : 1.4rem ;
    text-decoration: line-through;
    color :#999;
    margin-left: 12px ;
    font-weight: 500;
}
.home-product-item__price-sale{
    font-size: 1.4rem;
    color:#ed6767;
    margin-left:12px ;

}
.home-product-item__price-current{
    font-size :1.6rem;
    margin-left: 12px ;
    color :var(--primary-color);
}
.home-product-item__action{
    display:flex ;
    justify-content: space-between;
    margin : 8px 10px 0 ; 
}
.i.home-product-item__like-fill{
    display: none ;
    color : #f63d30 ;
}
.home-product-item__like--liked .home-product-item__like-fill{
    display: block ;
}
.home-product-item__like--liked .home-product-item__like-empty{
    display: none ;
}

.home-product-item__like{
    font-size: 1.2rem;
}
.home-product-item__sold {
    font-size :1.2rem ;
    color : var(--text-color);
    margin-left : 6px ; 
}
.home-product-item__buy-btn{
    color: var(--white-color);
    border-radius: 4px ;
    margin: 4px 0 6px;
    transform: translateX(42.5%);
}
.home-product-item__buy-btn:hover{
       background-color: #5fcbd1;
}
.home-filter{
    background-color: gray;
    align-items: center;
    border-radius: 2px ;
    padding :12px 22px ;
    height: auto;
}
.home-filter__brand{
    display:flex;
}
.home-filter__heading{
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-filter__name-list{
    display: flex;
    list-style: none ;
    padding-left: 0;
    margin-left: 6px ;
}
.home-filter__name-link {
    font-size: 1.5rem ;
    color: var(--text-color);
    text-decoration: none;
    background-color: #fafafa;
    padding: 6px 10px ;
    border-radius: 3px ;
    display: block;



}
.home-filter__name-item {
    margin: 6px;
}
.home-filter__classify{
    display: flex;
    
    align-items: center;
}